<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Questionnaire</title>
</head>
<body>
  <form>
    <div class="wrapper-field">
      <label for="name">Qual o seu nome?</label>
      <input class="field" type="text" id="name" required>
    </div>

    <div class="wrapper-field">
      <label for="age">Quantos anos você tem?</label>
      <input class="field" type="number" id="age" required>
    </div>
    
    <div class="wrapper-field">
      <label for="age">Qual linguagem de programação você está estudando?</label>
      <input class="field" type="text" id="language" required>
    </div>

    <button class="button" type="submit">Concluir</button>
  </form>

  <script src="script.js"></script>
</body>
</html>